@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.createButton {
  @apply flex w-full rounded-lg border-2 h-8 items-center
  justify-center hover:text-white transition-all 
  duration-200 cursor-pointer text-[#c5c5c5];
}

.inputIcon {
  @apply w-3/5 outline-none border-2 py-2 px-2 rounded-xl
  border-[#c5c5c5] placeholder:text-[#c5c5c5]
}